@import url('https://fonts.googleapis.com/css?family=Raleway|Zilla+Slab:400,400i,600,600i');
/*@font-face { 
	font-family: 'BEYNO'; 
	src: 
		local('BEYNO'), 
		url('fonts/BEYNO.otf'); 
}*/

.center-text {
	text-align: center;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	margin-bottom: 16px;
}

.project-img{
	margin-top: 32px;
	margin-bottom: 32px;
}

@media only screen and (max-width: 480px) {
	header {
		display: inline;
	}
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin-bottom: 24px;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
} 

p, ul{
	font-family: 'Zilla Slab', serif;
}

body{
	font-family: 'Raleway', sans-serif;
}

/*.logo {
	font-family: 'BEYNO'
}*/